.header {
  display: flex;
  justify-content: space-between;
  background-color: #1a4876;
  padding: 20px;
  font-size: 17px;
  color: #fff;
}

.header div,
.header p {
  max-width: 720px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
